#table{
    border: 1px solid;
    
}

tr{
    border: 1px solid;
}

td{
    border: 1px solid;
    padding-left: 2px;
    padding-right:  2px;
    padding-top: 1px;
    padding-bottom:  1px;
}

th{
    border: 1px solid;
    padding-left: 2px;
    padding-right:  2px;
    padding-top: 1px;
    padding-bottom:  1px;
}